# http://docs.travis-ci.com/user/languages/scala/
language: scala
sudo: required
dist: trusty

scala:
  - 2.11.8

jdk:
  - oraclejdk8

branches:
  only: [master, staging, production]

env:
  global:
    - SCALA_ENV=travis

cache:
  directories:
    - $HOME/.ivy2

script:
  - sbt ++$TRAVIS_SCALA_VERSION clean compile coverage test coverageReport

after_success:
  - bash <(curl -s https://codecov.io/bash)
